<footer class="py-5">
  <div class="footer-wrap">
    <div class="sns-icons"> 
      <div class="facebook">
        <a href="https://www.facebook.com/lalasweeticecream" target="_blank">
          <img src="../img/sns/facebook.png" alt="페이스북 로고">
        </a>
      </div>
      <div class="insta">
        <a href="https://www.instagram.com/lalasweet_icecream/#" target="_blank">
          <img src="../img/sns/insta.png" alt="인스타 로고">
        </a>
      </div>
    </div>
    <div class="mt-3 footer-text font-4">
      <span>이용약관</span> | <span>개인정보처리방침</span> | <span>채용</span> <br/>
      (주)라라스윗 | 사업자 등록번호 : 262-88-01226 <br/>
      통신판매업 신고번호 : 제 2020-서울강남-00234호 <br/>
      고객센터 : 1533-3312 (평일 9~18시 운영 / 주말 및 공휴일 휴무) <br/>
      대표 : MIN CHAN HONG | 주소 : 서울시 강남구 영동대로 333 4층 <br/>
      2025 © LALASWEET All rights reserved by Jinhee
    </div>
  </div>
</footer>