<body>
  <header class="header">
    <div class="logo">
      <a href="../index.html"></a>
    </div>
    <nav class="side-nav font-5" id="side-nav">
      <ul class="left-nav">
        <li><a href="#">SHOP</a></li>
        <li><a href="#">CHANNEL</a></li>
        <li><a href="#">PROJECT</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
      <ul class="right-nav">
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
        <li><a href="#">멤버십</a></li>
      </ul>
    </nav>
    <div class="media-nav" id="menu-toggle"><!--햄버거이미지삽입--></div>
  </header>
</body>
